/*
----------------------------------------------------------------------------------------------------

    BASE

    Styles for elementary elements such as headings, images, (un)ordered lists, etc.

----------------------------------------------------------------------------------------------------
*/

/*
--------------------------------------------------
  HTML & BODY
--------------------------------------------------
*/
html {

}

body {
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    color: $color-gray-80;
    background: $color-gray-10;
}

/*
--------------------------------------------------
  HEADINGS
--------------------------------------------------
*/
h1,h2,h3,h4,h5,h6 {

}

h1,h2 {

}

h3,h4 {

}

h5,h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/*
--------------------------------------------------
  LISTS
--------------------------------------------------
*/
ol,ul {

}

li {

}

ol {

    li {

    }

}

ul {

    li {

    }

}

/*
--------------------------------------------------
  OTHER
--------------------------------------------------
*/
p {
  margin: 10px 0;
}

a {
    text-decoration: none;
    color: $color-layout-primary;

    &:hover {
        text-decoration: underline;
    }

}

img {
    
}